@charset "utf-8";
/*html,body{height:100%}*/
body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div {border:0 none;margin:0;padding:0;	font-weight:normal;}
header,footer, section, details, aside, menu, nav, article, hgroup, figure, figcaption, time {display:block;margin:0px;padding:0px;}
ul,ol,li{list-style-type:none;}
select,input,img{vertical-align:top;}
a img{border:0;}
em,i{font-style:normal;}
a,a:active,a:focus {outline:none;}
textarea {resize:none;}
table {border-collapse:collapse;border-spacing:0;}
h2, h3, h4, h5, h6{ font-size:14px; font-weight:bold;}
/* 通用样式 */
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;/*IE/7/6*/}
.bd{border:1px solid #E4E4E4;height:100%;}

a{color:#383838;text-decoration:none}
a:hover{text-decoration:none}

.clear{
	clear:both;
}



