@charset "utf-8";
/* CSS Document */
body, h1, h2, h3, h4, h5, h6, hr, p,blockquote, dl, dt, dd, ul, ol, li,form, fieldset, legend, img{ border:none; margin: 0; padding: 0;}
body,button, input, select, textarea { color:#666; font:normal normal 12px/24px Simsun; outline:none;}
body{ color:#666; text-align:left; overflow-x:hidden; -webkit-text-size-adjust:none;}
em{font-style:normal;}
ul, ol { list-style: none; }
table{ border-collapse:collapse;}
a { color:#666; text-decoration: none; blr:expression(this.onFocus=this.blur());}
a:hover { text-decoration:underline;}
table{border-collapse:collapse;}
img{ border:none; font-size:0; line-height:0;}
.wrap{ margin:0 auto; text-align:left; width:982px;}
.clear{ clear:both; font-size:0; line-height:0;}
.fl{ float:left;}
.fr{ float:right;}
ins{ font: normal 12px/2 simsun; text-decoration:none;}
i{ text-decoration:none; height:0; width:0; border:1px solid #666; border-width:1px 2px 2px 1px; margin:15px 5px 0 0; font-size:0; line-height:0; float:left; }
/*“≥¬Î∑≈÷√ begin*/
.quotes{font-size:12px; padding:20px 0;}
.quotes span,.quotes a{color:#999; padding:3px 8px; border:1px #eaeaea solid;margin-right:2px; cursor:pointer; }
.quotes span{ cursor:default;}
.quotes .current{ color:#fff; border:1px #de9c0a solid; background:#de9c0a; font-weight:bold;}
.quotes  a:hover{ color:#fff; border:1px #v solid; background:#de9c0a; text-decoration:none;}
.load{ background:url(../images/loading.gif) no-repeat center; display:block; height:100%; width:100%; border:none;}
/*“≥¬Î∑≈÷√ end*/

/*detail*/
.detail { width:698px; margin: 0 auto; padding-top:30px; height:auto!important; height:500px; min-height:500px; text-align:left; }
.detail .title h3 { line-height: 27px; padding-left: 14px;}
.detail .cont { border-top:0px; margin:0 auto; width:698px;}
.detail .tit { height: 20px; line-height: 20px; text-align: center; font-weight:normal; color:#333333; font-size:18px; font-family: "Microsoft YaHei";  overflow:hidden;}
.detail .related { padding:6px 0; color:#999999; text-align: center; border-bottom:1px dotted #cecece;}
.detail .related span { padding: 0 10px;}
.detail .text {font-family: "Microsoft YaHei";   padding-top:10px; padding-bottom:10px; word-break:break-word;  line-height: 23px; color:#4c4c4c; text-align:justify;text-justify:inter-ideograph; word-wrap:break-word; }
.detail .text .photo { text-align: center; padding:10px 0;}
.detail .other { padding: 5px 0 ; width: 100%; }
.detail .other li {line-height: 24px; color:#de9c0a; }
.detail .other li a{ color:#666; font-weight:normal;}

/*background:url(../images/b1.png) no-repeat; _FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/b1.png, sizingMethod=scale ); _background-image:none;*/
/*detail*/
/*header*/
.header{ width:980px; margin:0 auto;}
.topbar{ width:980px; height:90px; position:relative; z-index:90;}
.logo{ width:189px; height:60px; position:absolute; left:0; top:15px;}
.menu{ position:absolute; left:208px; top:32px; width:820px; height:58px; width:982px;}
.menu li{ position:relative;  float:left; height:58px; line-height:58px;  text-align:center;  font-size:14px;font-family:"Microsoft YaHei", simhei, sinsun; }
.menu li a{ height:58px; display:block; float:left; padding:0 22px; color:#333;  }
.menu ul li a:hover{ text-decoration:none; color:#cd8d00; }
.menu li.on,.menu li.current{ color:#cd8d00;  position:relative;  height:39px;}
.menu li.on a,.menu li.current a{color:#cd8d00;}
.menu ul li .small_nav{ display:block; position:absolute;  }
.menu ul li .small_nav{  width:120px; position:absolute; top:58px; left:-10px;z-index:9999;display:none; background:rgba(255,255,255,.8); filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ccffffff',endColorStr='#ccffffff',gradientType='0');}
.menu ul li .small_nav ul{ width:120px;  float:left; background:url(../images/blank.gif);  }
.menu ul li .small_nav ul li{ text-align:center;width:120px; float:left; text-align:left;   height:30px; line-height:30px; font-size:12px; font-weight:normal;border-bottom:1px solid #dcd7d2; overflow:hidden;margin:0px;}
.menu ul li .small_nav ul li a{   font-size:14px; color:#333; padding:0; font-size:12px;line-height:30px;  height:30px; width:120px; display:block; text-align:center; }
.menu ul li .small_nav ul li a:hover{   text-decoration:none;color:#cd8d00;}
/*header*/
/*content*/
.content{ width:100%;}
.four{ width:100%; background:#fff;}
.four .cont{ width:1000px; margin:0 auto;}
.four .cont .cc{ width:1032px; margin:0 -16px; position:relative;}
.four li{ font-family:"Microsoft YaHei", simhei, sinsun; font-size:12px; color:#999; width:192px; float:left; padding:0 33px; padding-top:38px; height:120px;}
.four li .tit{ text-align:center; font-family:"Microsoft YaHei", simhei, sinsun; font-size:14px; color:#333;}
.mm{ width:100%; background:#e9eaef; padding:40px 0;}
.mm .cc{ width:980px; margin:0 auto;}
.mm .m1{ width:272px; height:322px; position:relative; cursor:pointer;}
.mm .m2{ width:203px; height:156px; position:relative; cursor:pointer;}
.mm .m3{ width:272px; height:156px; position:relative; cursor:pointer;}
.mm .m4{ width:416px; height:156px; position:relative; cursor:pointer;}
.mm .zz{ width:100%; height:100%; position:absolute; left:0; top:0; display:none;}

/*content*/
/*footer*/
.footer{ width:100%; background:#4f4945;}
.foot{ width:980px; margin:0 auto; padding-top:13px; min-height:144px;}
.fm{ float:left; width:810px;}
.fm dt{ line-height:28px; height:28px; width:80px; border-bottom:1px solid #615c58; font-family:"Microsoft YaHei", simhei, sinsun; color:#fff;}
.fm dl{ float:left; width:120px;}
.fm dd{ height:25px; line-height:25px;}
.fm dd a{ font-family:"Microsoft YaHei", simhei, sinsun; color:rgba(255,255,255,.3);}
.wx{ width:100px; height:100px; float:right; margin:26px 0 0 0; display:inline;}
.ff{ width:100%; background:#2d251d; height:51px; line-height:51px;}
.ff2{ width:980px; margin:0 auto; color:rgba(255,255,255,.2);}

/*footer*/
.tm{ width:100%; background:#e5e5e5; height:33px; line-height:33px;}
.loadd{ width:980px; margin:0 auto; height:33px; background:url(../images/loadd.gif) no-repeat 0 11px; color:#666; line-height:33px;font-family:"Microsoft YaHei", simhei, sinsun; text-indent:20px;}
.ncontent{ width:980px; background:224px 0 url(../images/cc.gif) repeat-y; margin:0 auto;}
.side{ float:left; width:224px;}
.main{ float:right; width:738px;}
.s_cate{ width:224px; margin-top:13px;}
.s_cate .st{  height:42px; line-height:18px;background:url(../images/st.gif) bottom repeat-x; width:224px;   }
.s_cate .st .tit{  font-size:18px; color:#cd8d00;font-family:"Microsoft YaHei", simhei, sinsun;}
.s_cate .st span{ text-transform:uppercase; font-family:Impact; font-size:14px; color:#999;}
.s_cate li{ background:url(../images/sl.gif) 178px 22px no-repeat; width:224px; height:50px; float:left; line-height:50px; border-bottom:1px solid #d9d9d9;font-family:"Microsoft YaHei", simhei, sinsun; font-size:14px;}
.s_cate li a{ width:224px; height:50px; line-height:50px; color:#333; text-indent:22px; display:block;}
.s_cate li a:hover,.s_cate li a.on{ color:#cd8d00; text-decoration:none;}

.sbar{ text-align:center; margin-top:45px; width:224px; line-height:25px;}
.sbar .c1{ font-family:"Microsoft YaHei", simhei, sinsun; font-size:18px; color:#d5be54;}
.sbar .c2{ color:#6a5e0c;font-family:"Microsoft YaHei", simhei, sinsun; font-size:18px;}
.sbar .yy{ width:147px; height:39px; margin:9px auto; cursor:pointer;}
.sbar .phone{ font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#ec7406;}
.sbar .wx2{ margin:0 auto; width:100px; text-align:center; line-height:1.2; font-family:"Microsoft YaHei", simhei, sinsun;}
.sbar .wx2 .ww{ width:100px; height:100px;}
.mtit{ margin-top:21px; text-indent:19px; border-bottom:1px solid #e0e0df; line-height:32px; height:32px; font-size:18px; color:#000;font-family:"Microsoft YaHei", simhei, sinsun;}
.ny_pro{height:auto!important; height:500px; min-height:500px; width:100%; margin-top:24px;}
.ky2{ height:32px; line-height:32px; background:url(../images/pt1.gif) no-repeat; font-family:"Microsoft YaHei", simhei, sinsun;}
.ky2 td{ text-indent:20px;}
.ky3{ width:698px; padding:0 20px;font-family:"Microsoft YaHei", simhei, sinsun; background:url(../images/pt1.gif) no-repeat;}
.ky3 th{ height: 32px; line-height: 32px; padding: 0 5px; white-space: nowrap;}
.ky3 tr{}
.ky3 td{ line-height:25px; padding:12px 5px; border-bottom:1px dashed #cecece;}
.ky3 .yy1{ width:48px; cursor:pointer; height:17px; line-height:17px; text-align:center;/* background:#f2f2f2; border:1px solid #dfdfdf;*/ background-color: #de9c0a;}
.ky3 .yy1 .cc1{ /*color:#27509b;*/ color: #fff;}
.ky3 .yy1 .cc2{ color:#b0b0b0;}
.ky3 .yy1 a:hover{ text-decoration:none;}
.ky3 table{ table-layout: fixed;}
.ky3 a{ cursor:pointer;}
.ky3 a:hover{ text-decoration: none;}
.ky3 .txt{ white-space: nowrap; display: block; overflow: hidden; text-overflow:ellipsis;}


.p_detail{ width:698px; margin:0 auto; height:auto!important; height:500px; min-height:500px; padding-top:23px;}
.pd1{ height:215px; width:698px;}
.pd1 .photo{ width:155px; height:136px; overflow:hidden; border:3px solid #d4d4d4;}
.pd1 .photo img{ display:block;}
.pd1 .yy2{cursor:pointer; width:163px; height:39px; margin:7px 0 0 -3px; position:relative;}
.pd1 .text{ width:513px; float:right;font-family:"Microsoft YaHei", simhei, sinsun; line-height:30px;}
.pd1 .text span{ color:#27509b;}
.p_detail .tit{ background:#fafafa; height:32px; line-height:32px; border:1px solid #f0f0f0; text-indent:15px;font-family:"Microsoft YaHei", simhei, sinsun; font-size:14px; color:#333;}
.p_detail .p_text{  padding:16px;font-family:"Microsoft YaHei", simhei, sinsun;}

.ny_dan{ padding:15px 20px; font-size:14px; line-height:30px;font-family:"Microsoft YaHei", simhei, sinsun; height:auto!important; height:500px; min-height:500px; padding-top:23px;}

.vip{height:auto!important; height:500px; min-height:500px; width:698px; margin:0 auto; padding-top:5px;}
.vip li{ height:149px; background:url(../images/vb.gif) repeat-x bottom; padding-top:20px; width:100%; float:left;}
.vip li .photo{ width:160px; height:105px; float:left; overflow:hidden;}
.vip li .photo img{ display:block;}
.vip li .text{ float:right; width:515px;font-family:"Microsoft YaHei", simhei, sinsun;}
.vip li .text a{ font-size:16px; color:#333;}
.vip li .text .time{ margin-bottom:5px;}

.snews{ height:auto!important; height:500px; min-height:500px; width:698px; margin:0 auto;}
.snews li{ width:100%; float:left;font-family:"Microsoft YaHei", simhei, sinsun; padding:15px 0; background:url(../images/vb.gif) repeat-x bottom;}
.snews li .time{ color:#999;}
.snews li a{ color:#333; font-size:14px;}

.collage{ width:698px; margin:0 auto; padding-top:15px;height:auto!important; height:500px; min-height:500px;}
.collage li{float:left; border-bottom:1px solid #cecece; height:36px; line-height:36px; width:100%;}
.collage li i{ margin:19px 8px 0 0; border-color:#b8a22b;}
.collage li span{ float:right; color:#999}
.collage li a{ height:36px; width:580px; overflow:hidden; display:block; text-overflow:ellipsis; white-space:nowrap; float:left;font-family:"Microsoft YaHei", simhei, sinsun; font-size:14px; color:#333; }

.shadow{ background: url(../images/shadow.png) repeat-x; height: 4px; overflow: hidden; width: 100%; margin-bottom: -4px; position:relative; z-index: 10;}












